.item-container{
    border-radius: 20px;
    align-items: center;
    display: flex;
    color: #C0C0C0;
    font-weight: 500;
    margin-right: 20px;
}

.item-container-title:hover{
    background-color: 	#1E90FF;
    padding: 2px 8px;
    color: white;
    cursor: pointer;
    
}