.item-container{
    border-radius: 20px;
    align-items: center;
    display: flex;
    color: #C0C0C0;
    font-weight: 500;
    margin-right: 20px;
}

.item-container-title{
    font-size: 20px;
}

.item-container-title:hover{
    background-color: 	#1E90FF;
    padding: 2px 8px;
    color: white;
    cursor: pointer;    
}

.dropdown-content{
    display: none;
    position: absolute;
    margin-bottom:1000px;
    font-size: 100px;
}

.item-icon{
    font-size: 24px !important;
}

.navigation-menu{
    display: block;
    margin: 0;
}

.dropdown-menu{
    display: none !important;
}

.search-bar-container{
    position: absolute;
    right: 0px;
    display: block;
}



@media (max-width: 1200px) { 
.navigation-menu{
    display: none;
}
}

@media (max-width: 576px) { 
.search-bar-container{
    display: none !important;
}
}

