.news-container{
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}

.news-img{
    width: 140px;
    height: 100px;
    border-radius: 15px;
    margin-right: 20px;
}

.news-title{
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
   margin-top: 10px;
   color:black
}

.news-icon{
    color:gray;
    margin-right:10px;
    margin-left:5px
}