.news-container{
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}

.news-img{
    width: 140px;
    height: 100px;
    border-radius: 15px;
    margin-right: 20px;
}

.news-title{
    font-size: 20px;
    font-weight: bold;
    max-height: 3.6em;
    line-height: 1.8em;
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-icon{
    color:gray;
    margin-right:10px;
    margin-left:5px
}